header {
    height: 85vh;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../../images/banner-Grêmio.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
}

nav {
    z-index: 100 !important;
}

#list:hover {
    display: block;
}

#list:hover ul {
    display: block;
    background-color: white;
    display: flex;
}

#sublist {
    display: none;
    position: absolute;
    margin-left: -18%;
}

#botao {
    height: 50px;
}

#botao svg {
    height: 50px;
}

#botao:hover {
    border-bottom: 4px solid rgba(96, 165, 250, 1);
}

#navbar-mobile {
    transition: .5s ease-in-out;
}


