#swiper {
    height: 100%;
    width: 100% !important;
}

#swiper-slide {
    height: 100%;
    width: 100% !important;
}

#img-anuncio {
    height: 100%;
    width: 100% !important;
    background-size: cover;
    background-position: center;
}

